{{ ansible_managed | comment }}

[Unit]
Description=Ansible Pull Timer

[Timer]
Unit=ansible-pull.service
OnCalendar={{ ansible_pull_timer_schedule }}
Persistent=true

[Install]
WantedBy=multi-user.target
