{{ ansible_managed | comment }}

[Unit]
Description=Run Ansible Pull
After=network-online.target

[Service]
ExecStart=/usr/bin/ansible-pull \
	--url https://github.com/dschier-wtd/fedora-iot.git \
	--inventory inventory/hosts.yml \
	--only-if-changed \
	--checkout main \
	--sleep 30 \
	ansible/playbooks/install_requirements.yml \
	ansible/playbooks/configure_server.yml
