{{ ansible_managed | comment }}

[Unit]
Description=Run Ansible Pull
After=network-online.target

[Service]
ExecStart=/usr/bin/ansible-pull \
	--url {{ ansible_pull_service_url }} \
	--inventory inventory/hosts.yml \
	--only-if-changed \
	--checkout main \
	--sleep {{ ansible_pull_service_sleep }} \
	ansible/playbooks/install_requirements.yml \
	ansible/playbooks/configure_server.yml
